# Carpeta de compilación de Java
bin/

# Carpeta de archivos generados por IDEs y editores
.idea/
.vscode/

# Archivos de configuración de Eclipse
.settings/

# Carpetas y archivos específicos de NetBeans
nbproject/
nb-configuration.xml

# Archivos de registro
*.log

# Carpetas y archivos generados por Maven
target/
mvnw
mvnw.cmd

# Carpeta y archivos de dependencias
lib/

# Carpeta y archivos de registros y respaldo
log/
backup/

# Archivos específicos del proyecto
Constants.java

# Carpeta de distribución de Gradle
build/

# Archivos de configuración de Gradle
.gradle/

# Archivos de configuración y scripts de Gradle
gradle/wrapper/
gradlew
gradlew.bat

# Archivos de configuración de Gradle
settings.gradle.kts
